useDynLib(mastif, .registration = TRUE)

importFrom("Rcpp", "evalCpp")
importFrom("RANN", "nn2")
importFrom("corrplot", "corrplot")
importFrom("grDevices", "pdf", "rgb", "dev.copy2pdf","graphics.off")
importFrom("grDevices", "col2rgb", "colorRampPalette", "dev.off")
importFrom("graphics", "barplot", "bxp", "strheight","strwidth", "segments")
importFrom("graphics", "abline", "arrows", "Axis", "axis", "boxplot", 
           "hist", "legend",
            "lines", "mtext", "par", "plot", "points", "polygon",
            "rect", "symbols", "text", "title", "contour", ".filled.contour")
importFrom("stats", "dpois", "as.formula", "cor",
            "cov", "density", "rgamma", "rexp", "model.frame", "model.matrix",
            "pnorm", "qnorm", "quantile", "rnorm", "runmed",
            "rpois", "runif", "sd", "contrasts", "dnorm", "rbinom", 
           "relevel", "terms", "var", "toeplitz")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "read.table")

export(mastif, mastMap, mastPlot, mastRmatrix, mastSim)
S3method(print, mastif)
S3method(summary, mastif)

